.footer__menu-item-link {
  line-height: 1.12;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
}

@media (max-width: 699px) {
  .footer__menu-item-link {
    line-height: 1;
    font-size: 24px;
  }
}
