.lead {
  box-sizing: border-box;
  max-width: 984px;
  margin: 0 auto;
  padding: 56px 0 92px;
}

@media (max-width: 1100px) {
  .lead {
    max-width: 928px;
    padding-top: 48px;
  }
}

@media (max-width: 950px) {
  .lead {
    padding-bottom: 88px;
  }
}

@media (max-width: 699px) {
  .lead {
    padding-bottom: 64px;
  }
}
