.cover__subtitle {
  line-height: 1.22;
  font-size: 18px;
  font-weight: normal;
  max-width: 360px;
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (max-width: 699px) {
  .cover__subtitle {
    max-width: 288px;
    line-height: 1.14;
    font-size: 14px;
  }
}
