@media (max-width: 699px) {
  .header {
    padding: 0 16px;
  }

  .header__logo {
    width: 142px;
  }

  .header__lang-links {
    padding-top: 18px;
  }

  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }

  .lead {
    max-width: 320px;
    padding-bottom: 64px;
  }

  .lead__title {
    max-width: 288px;
    font-size: 40px;
    line-height: 44px;
  }

  .lead__subtitle {
    max-width: 288px;
    margin-top: 16px;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 40px;
  }

  .lead__caption {
    padding-left: 16px;
  }

  .intro {
    max-width: 288px;
  }

  .intro__title {
    font-size: 32px;
    line-height: 35px;
  }

  .photo {
    max-width: 288px;
    padding: 64px 0;
  }

  .photo-grid {
    grid-template-columns: 1fr;
  }

  .places {
    max-width: 100%;
    padding: 0;
  }

  .place {
    grid-template-columns: 100%;
    row-gap: 32px;
  }

  .place__title, .place__website, .place__text {
    padding: 0 24px;
  }
}
