@media (max-width: 950px) {
  .header {
    padding: 0 24px;
  }

  .lead {
    padding-bottom: 88px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    max-width: 100%;
  }

  .intro__content {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }

  .photo {
    max-width: 100%;
    padding: 88px 24px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .places {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }

  .place {
    grid-template-columns: 340px auto;
    column-gap: 28px;
  }

  .place__title {
    font-size: 42px;
    line-height: 1.1;
  }

  .place__paragraph {
    font-size: 16px;
  }
}
