@media (max-width: 1100px) {
  .lead {
    max-width: 928px;
    padding-bottom: 88px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .intro {
    padding-left: 48px;
  }

  .photo {
    max-width: 928px;
  }
}
