@media (max-width: 950px) {
  .header {
    padding: 0 24px;
  }

  .lead {
    padding-bottom: 88px;
  }

  .lead__subtitle {
    margin-bottom: 56px;
  }

  .lead__caption {
    padding-left: 24px;
  }

  .intro {
    max-width: 720px;
    margin: 0 auto;
    padding-left: 0;
  }

  .photo {
    padding: 88px 24px;
  }

  .photo-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
