.intro__content {
  max-width: 690px;
}

@media (max-width: 950px) {
  .intro__content {
    max-width: 100%;
    padding: 0 24px;
    margin: 0 auto;
  }
}

@media (max-width: 699px) {
  .intro__content {
    padding: 0 16px;
  }
}
